/*:root{
 
  --warning: #d8df75;
  --success: #4dbd6f;
  --primary: #5885c4;
}

#todoItem, a:link{
  background-color: var(--urgent);
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 7px;
}*/




/*#primary{
  background-color: var(--primary);
}

#success{
  background-color: var(--success);
}
#warning{
  background-color: var(--warning);
}

#tabDescription{
  border: none;
}*/